<<<<<<< HEAD
.ball {
  display:inline-block;
  height: 12px;
  width: 12px;
  background-color: #999;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  margin-right: 5px;
}

.synchro-settings {
  width: 125px;
}

.synchro-big-settings {
  width: 350px;
}

=======
>>>>>>> c6fd6501923fe3458eb4d26c2f43af59c6ca090b
.centered {
  text-align: center;
}
